#Maven
target/


#Eclipse
*.settings/
*.classpath
*.project
bin/
build.properties
META-INF/


#Test
src/test/resources/fetcher/prefetching/prefetchURIs
src/test/resources/fetcher/prefetching/RIPE*
src/test/resources/fetcher/prefetching/ARIN*
src/test/resources/fetcher/prefetching/LACNIC*
src/test/resources/fetcher/repository/*
src/test/resources/export/
